
<div class="row-fluid">
  <h1 class="page-header">
   Usuarios
  </h1>
  <input type="text" ng-model="userEdit.name"/>
  <table class="table table-striped table-condensed table-hover">
    <th><input type="checkbox" ng-model="allSelected" ng-change="updateAllSelected(allSelected)" </th>
    <th>Nombre Completo</th>
    <th>Direcci&on</th>
    <th>Código postal</th>
    <th>Acciones</th>
    <tbody>
      <tr ng-repeat="user in users">
        <td><input type="checkbox" ng-model="user.isSelected" ng-change="updateUserEdit(user)"/></td>
        <td>{{fullName(user)}}</td>
        <td>{{user.address}}</td>
        <td>{{user.postalCode}}</td>
        <td><input type="button" ng-click="deleteUser(user)" value="Eliminar"/></td>
      </tr>
    </tbody>
  </table>
</div>

